<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Welcome to Cancerfree</title>
  </head>
  <body>
    <a href="/"><img src="../static/small_logo.png" alt="small_logp" class="smalllogo" style="display:inline;"/></a>
    <ul class="drop-down-menu">
      <li><a href="#">About Us</a>
          <ul>
              <li><a href="\about_whoWeAre">Who We Are</a>
              </li>
              <li><a href="\about_whatWeDo">What We Do</a>
              </li>
          </ul>
      </li>
      <li><a href="\products">Products</a>
        <ul>
          <li><a href="#">Human Cancer Cell Line</a>
            <ul>
              <form action="/product_submit" method="POST">
                <input type="hidden" name="Product Category" value="CTC">
                <input type="hidden" name="Age" value="All">
                <input type="hidden" name="Gender" value="All">
                <input type="hidden" name="Ethnicity" value="All">
                <input type="hidden" name="Cancer type" value="All">
                <input type="hidden" name="Growth Properties" value="All">
                <input type="submit" name="btn" value= "Blood" class="cc_btn"/>
              </form>
              <form action="/product_submit" method="POST">
                <input type="hidden" name="Product Category" value="Ascites">
                <input type="hidden" name="Age" value="All">
                <input type="hidden" name="Gender" value="All">
                <input type="hidden" name="Ethnicity" value="All">
                <input type="hidden" name="Cancer type" value="All">
                <input type="hidden" name="Growth Properties" value="All">
                <input type="submit" name="btn" value= "Ascites" class="cc_btn"/>
              </form>
              <form action="/product_submit" method="POST">
                <input type="hidden" name="Product Category" value="Pleural effusion">
                <input type="hidden" name="Age" value="All">
                <input type="hidden" name="Gender" value="All">
                <input type="hidden" name="Ethnicity" value="All">
                <input type="hidden" name="Cancer type" value="All">
                <input type="hidden" name="Growth Properties" value="All">
                <input type="submit" name="btn" value= "Pleural effusion" class="cc_btn"/>
              </form>
              <form action="/product_submit" method="POST">
                <input type="hidden" name="Product Category" value="Tissue">
                <input type="hidden" name="Age" value="All">
                <input type="hidden" name="Gender" value="All">
                <input type="hidden" name="Ethnicity" value="All">
                <input type="hidden" name="Cancer type" value="All">
                <input type="hidden" name="Growth Properties" value="All">
                <input type="submit" name="btn" value= "Tissue" class="cc_btn"/>
              </form>
          </ul>
          </li>
      </ul>
      <li><a href="\others">Support</a>
        <ul>
          <li><a href="#">Q & A</a>
          </li>
          <li><a href="#">Contact Us</a>
          </li>
          <li><a href="#">Legal Disclaimers​</a>
          </li>
        </ul>
      </li>
      </li>
      <li><a href="\links">Links</a>
      </li>
  </ul>
  <div class="login_btn" style="display:inline;"> 
    <ul>
      <li><a href="/login">Log In</a></li>
      <li><a href="/signup">Sign Up</a></li>
    </ul>
  </div>
  <div class="container">
    <h1>Cell Line Filter</h1>
    <div class="line-green"></div>
    <form action="/product_submit" method="POST">
      <div class="form-group">
        <h4>Product Category</h4>
        <select name="Product Category">
          <option value="All"> All</option>
          <option value="Ascites"> Ascites</option>
          <option value="CTC"> CTC</option>
          <option value="Pleural effusion"> Pleural effusion</option>
          <option value="Tissue"> Tissue</option>
        </select>
      </div>
      <div class="form-group">
        <h4>Age</h4>
        <select name="Age">
          <option value="All"> All</option>
          <option value="0" checked> Under 30 </option>
          <option value="30" > 30-39 </option>
          <option value="40" > 40-49 </option>
          <option  value="50" > 50-59 </option>
          <option value="60" > 60-69 </option>
          <option  value="70" > 70-79 </option>
          <option  value="80" > 80-100 </option>
        </select>
      </div>
      <div class="form-group">
        <h4>Gender</h4>
        <select name="Gender">
          <option value="All"> All</option>
          <option value="Female"> Female</option>
          <option value="Male"> Male</option>
        </select>
      </div>
      <div class="form-group">
        <h4>Ethnicity</h4>
        <select name="Ethnicity">
          <option value="All"> All</option>
          <option value="African American" > African American </option>
          <option value="Asian"> Asian </option>
          <option value="Caucasian" > Caucasian </option>
        </select>
      </div>
      <div class="form-group">
        <h4>Cancer type</h4>
        <select name="Cancer type">
          <option value="All"> All</option>
          <option value="Astrocytoma"> Astrocytoma </option>
          <option value="Breast cancer" > Breast cancer </option>
          <option value="Cervical cancer" > Cervical cancer </option>
          <option value="Chondrosarcoma" > Chondrosarcoma </option>
          <option value="Colon cancer" > Colon cancer </option>
          <option value="Colorectal cancer" > Colorectal cancer </option>
          <option value="Ewings sarcoma" > Ewings sarcoma </option>
          <option value="Glioblastoma" > Glioblastoma </option>
          <option value="Hepatocellular carcinoma" > Hepatocellular carcinoma </option>
          <option value="Large cell neuroendocrine carcinoma" > Large cell neuroendocrine carcinoma </option>
          <option value="Myxofibrosarcoma" > Myxofibrosarcoma </option>
          <option value="Neuroblastoma" > Neuroblastoma </option>
          <option value="Non small cell lung cancer" > Non small cell lung cancer </option>
          <option value="Osteosarcoma" > Osteosarcoma </option>
          <option value="Ovarian cancer" > Ovarian cancer </option>
          <option value="Ovarian serous carcinoma" > Ovarian serous carcinoma </option>
          <option value="Prostate cancer" > Prostate cancer </option>
          <option value="Small Cell Lung Cancer" > Small Cell Lung Cancer </option>
          <option value="Prostate cancer" > Prostate cancer </option>
          <option value="Soft tissue sarcoma" > Soft tissue sarcoma </option>
          <option value="Squamous cell carcinoma" > Squamous cell carcinoma </option>
        </select>
      </div>
      <div class="form-group">
        <h4>Growth Properties</h4>
        <select name="Growth Properties">
          <option value="All"> All</option>
          <option value="Adherent" > Adherent </option>
          <option value="Suspention" > Suspention </option>
        </select>
      </div>
      <input type="submit" value="Search" class="btn" />
      </form>
  </body>
</html>